.content{
background-color:#ffffff;
}
#container{
width:1000px;
height:auto;
margin-left:auto;
margin-right:auto;
margintop:11px;
margin-bottom:21px;
}
#Header{
height:150px;
background-color:#FF3366;
color:white;

}
#Header h1{
padding-top:35px;

}

#Menu{
height:60px;
background-color: #333333;
}
#Menu ul{
 margin:0;
 padding:0;
}
#Menu li{
list-style-type:none;
float:left;
display:block;
width:150px;
height:60px;
text-align:center;
line-height:55px;
font-family:Tahoma;
font-size:18px;
}
#Menu li a{
text-decoration:none;
color:#FFFFFF ;
}
#Menu li:Hover{
background-color:#85929E  ;

}
#MainBody{
margin:0;
height:800px;
width:1000px;
background-color:#000000;
color:#000000;
padding-top:5px;
}
#MainBody p{
color:#000000;
padding-top:3px;
}
#MainBody h6{
color:#ffffff;
padding-top:3px;
}
#MainBody img{
margin:5px 0px 0px;
}
#MainBody h5{
color:#000000;
}
.w3-opacity-max{
margin:0;
width:1000px;
height:500px;
opacity:1;
}
#MainBody .bg-1 { 
margin:0px;
padding:0;
height:200px;
 background-color: #cccccc; 
 color: #ffffff;
  }
#MainBody .bg-2 { 
margin:0px;
padding:0;
height:200px;
 background-color:#000000; 
 color: #FF3366;
  }#MainBody .bg-2 p{
color:#ffffff;

}
#MainBody .bg-2 img{
margin:10px 10px 10px 10px;

}

#Footer{
height:100px;
background-color:#212F3D  ;
clear:both;
}
#Footer p{
color:white;
padding-top:25px;
}

}